@charset "utf-8";
/* CSS Document */
body,p,dl,dt,dd,ul,ol,li,div,h1,h2,h3,h4,h5,h6,form,input,table,tr,td{
	margin:0;padding:0;
}
body{
	/* color: #73879C; */
    /* background: #2A3F54; */
    font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.471;
}
*:after, :before{
	box-sizing: border-box;
}
ul,ol{
	list-style:none;
}	
img{
	border: 0;
	/*display:block;*/
}
a{
	outline: 0;
	text-decoration: none;	
	color:#333;
}
input{
	outline:none
}
div{
	display: block;
}

.layui-header{
    border-bottom: 1px solid #f6f6f6;
    box-sizing: border-box;
    background-color: skyblue;
    position: fixed!important;
    top: 0;
    left: 0;
    width: 100%;
    height: 58px;
    z-index: 999;
}
.col-md-3.layui-side{
    width: 220px;
    height: 1200px;
    top: 0;
    z-index: 1001;
    overflow-x: hidden;
    position: fixed;
    left: 0;
}
.layui-side-menu{
    background: #20222A !important;
    box-shadow: 1px 0 2px 0 rgba(0, 0, 0, .05);
}